@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack: 'Montserrat', sans-serif;
$primary-color: #10a7ea;
$secondary-color: #273746;
$color-gray: #f9f9f9;

// Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Main Styling
html,
body {
	font-family: $font-stack;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 400;
}

h4 {
	font-size: 1.5rem;
	font-weight: 500;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

// Utility Classes
.container {
	margin: auto;
	max-width: 1300px;
	padding: 0 20px;
}

.large {
	font-size: 18px;
}

.display-1 {
	font-size: 6rem;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
	&-dark {
		background: $secondary-color;
		border: 1px solid $secondary-color;
		color: #fff;
	}
} //End .btn

form {
	label {
		display: inline-block;
		margin-bottom: 6px;
	}
	.form-group {
		margin-bottom: 16px;
		&-control {
			width: 100%;
			padding: 7px 12px;
			font-size: 1rem;
			line-height: 1.5;
			background: $color-gray;
			border: none;
			border-radius: 4px;
		} //End form .form-group-control
	} // End form .form-group
	button {
		width: 100%;
	}
} //End form

// Navbar
#navbar {
	height: 12vh;
	background: $primary-color;
	color: #fff;
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	a {
		color: #fff;
	}
	.logo {
		float: left;
		padding-top: 16px;
		font-size: 25px;
	}

	ul {
		list-style: none;
		float: right;
		li {
			float: left;
		}
		li a {
			display: block;
			padding: 20px;
			text-align: center;
		}
	}
} //End #navbar

// Showcase
#showcase {
	height: 88vh;
	padding: 120px 0;
	background: url('/images/showcase.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	h1 {
		width: 50%;
	}
	p {
		width: 50%;
		padding: 15px 0;
	}
}

// About
#about {
	padding: 100px 0;
	h2 {
		text-align: center;
		padding-bottom: 50px;
	}
	img {
		width: 100%;
	}

	.about-flex {
		display: flex;
		&-image {
			flex: 1;
		}
		&-description {
			flex: 1;
			padding: 20px 40px;
		}
	}
} //End #about

// Services
#services {
	padding: 100px 0;
	background: $color-gray;
	h2 {
		text-align: center;
		padding-bottom: 10px;
	}
	p.large {
		text-align: center;
		padding-bottom: 50px;
	}
	.services-flex {
		display: flex;
		gap: 10px;
		img {
			height: 40px;
		}
		&-box {
			background: #fff;
			padding: 50px 20px;
			text-align: center;
			border-radius: 20px;
			h4 {
				padding: 10px 0;
			}
		}
	}
} //End #services

// Contact
#contact {
	padding: 100px 0;
	h2 {
		text-align: center;
		padding-bottom: 10px;
	}
	p.large {
		text-align: center;
		padding-bottom: 50px;
	}
	form {
		width: 50%;
		margin: 0 auto;
	}
}

// Footer
#mainfooter {
	background: $primary-color;
	text-align: center;
	padding: 30px;
}

@import 'mobile';
